// ==|== media queries ======================================================
// PLACEHOLDER Media Queries for Responsive Design.
// These override the primary ('mobile first') styles
// Modify as content requires.
// ========================================================================== */

/* Smartphones (portrait) */
@media only screen and (max-width : 480px) {
	body {
		min-height: 100%;
	}
	html {
		min-height: 100%;
		background: #f0e7c9	;
	}

	#branding {
		position: relative;
		width: 100%;
		height: 46px;

		nav {
			width: 100%;

			#mobile-nav {
				position: absolute;
				right: 0px;
				padding: 0 0 0 15px;
				height: 45px;
				background: #f0e7c9;
				overflow: hidden;
				@include transition-property(height);
  				@include transition-duration(0.5s);

				&.open {
					height: 255px;

					.arrow {
						@include rotate(180deg);
					}
				}

				a,
				a:active,
				a:hover,
				a:visited {
					margin-top: 0px;
					margin-right: 15px;
					padding: 0;
					padding-right: 30px;
					display: block;
					text-align: right;
					letter-spacing: 0px;
				}

				.arrow {
					position: absolute;
					top: 10px;
					right: 10px;
					width: 28px;
					height: 28px;
					background-image: url('./images/menu-icon.svg');
					background-size: 100% 100%;

					@include transition-property(transform);
  					@include transition-duration(0.5s);
				}

				#selected-page {
					padding: 9px 30px 0 0;
				}
			}
		}

		div.logo {
			left: 5px;
			width: 72px;
			height: 77px;
			// background: transparent url('./images/logo-640.png') no-repeat;
			// background-size: cover;

			// a {
			// 	padding: 0;
			// 	width: 100%;
			// 	height: 100%;
			// 	display: block;
			// }
		}
	}

	#content {
		width: 100%;
		height: auto;
		z-index: 1;

		header {
			display: none;
		}

		div.page-content {
			position: relative;
			margin: 0 auto;
			padding: 20px 10px;
			width: auto;
			height: auto;
			text-align: left;

			h1,h2,h3,h4,h5,h6 {	
				font-family: 'heroic_condensedbold';
			}

			h3 {
				margin: 20px 0;
				font-size: 1.3em
			}
		}
	}

	#home {
		position: relative;
		min-height: 350px;

		#celebrating {
			margin: 0 auto 30px;
			padding-top: 50px;
			font-family: 'freestyle_script_stdregular';

			h1 {
				font-size: 2.9em;
				text-shadow: 0px 4px 0px #000000;
				filter: dropshadow(color=#000000, offx=0, offy=4);
			}
			h2 {
				font-size: 2.3em;
				text-shadow: 0px 2px 0px #000000;
				filter: dropshadow(color=#000000, offx=0, offy=2);
				line-height: 0.9em;
			}
		}

		#contact_links {
			padding: 0;
			// padding-bottom: 100px;

			a.contact {
				display: block;
				margin: 0px auto 10px;
			}
		}

		#content {
			display: none;
		}

		#countdown {
			display: none;
		}

		#view-events {
			display: none;
		}
	}

	#main {
		margin: 0;
		width: 100%;
	}

	div.about {
		ul {
			
			li {
				margin-left: 20px;
			}
		}

		div.column {
			float: none;
			width: auto;
		}

		div.column.last {
			h3,
			p {
				padding-left: 0;
			}
		}
	}

	div.bars,
	div.breweries {
		background: #74726e;

		div.descriptions {
			float: none;
			width: auto;

			.show-all {
				display: none;
			}
		}
	}

	div.bar-info {
		overflow-x: hidden;

		h3 {
			margin-bottom: 0 !important;
		}
	}

	div.bus-tours {
		img {
			max-width: 100%;
		}

		.page-content {
			ul {
				li {
					font-size: 1.0em;
				}
			}
		}
	}

	div.events {
		#events {
			padding-top: 35px;

			a.event-date,
			a.event-date:hover,
			a.event-date:visited {
				display: block;
				padding: 8px 0;
				margin: 0 20px;
				border-bottom: solid 1px #6b6b6b;
				color: #f0e7c9;
			}

			section {
				padding-top: 0;

				div {
					width: 100%;
				}

				header {
					position: relative;
					margin: 5px 20px;
					padding: 0;
					width: auto;
					height: auto;
					background: #3d3d3d;
					text-align: left;
					line-height: 0.5em;
					display: block;
					border-bottom: solid 1px #6b6b6b;

					a.events-back,
					a.events-back:hover,
					a.events-back:visited {
						margin: 0;
						padding: 0 0 0 20px;
						height: auto;
						font-family: 'karlabold';
						font-size: 0.4em;
						background: transparent url('./images/back-arrow.png') center left no-repeat;
						color: #f0e7c9;
					}

					h3 {
						margin: 0;
						padding: 0;
						height: auto;
						font-size: 0.4em;
						font-family: 'karlabold';
						line-height: 0.8em;
						text-align: left;
						color: #f0e7c9;
					}
				}

				.event-detail {
					margin: 15px 0 30px;
					padding: 0 20px;
					width: auto;

					h3 {
						margin-top: 0;
						font-size: 1.5em;
					}

					p {
						margin: 0;
						padding: 0;
						line-height: 1.2em;
						display: inline-block;

						a {
							font-size: 0.9em;
						}
					}

					.links {
						margin-bottom: 0;

						a,
						a:hover,
						a:visited {
							font-size: 1.8em;
						}
					}
				}
			}

			#show-all {
				display: none;
			}
		}
	}

	div.sponsors {
		div.page-content {

			.column {
				width: 95%;
				display: block;

				&.left,
				&.right {
					text-align: center;
				}

				img {
					max-width: 90%;
					max-height: 200px;
				}
			}
		}
	}
}

/* iPads (portrait and landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
}

/* iPads (landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
}

/* iPads (portrait) */
@media only screen and (min-device-width : 767px) and (max-device-width : 1224px) {
	html, body{
		width: auto;
	}

	#branding {
		position: relative;

		nav {
			max-width: 100%;
			text-align: right;

			a,
			a:hover,
			a:visited {
				margin-top: 45px;
				font-size: 1.4em;
			}
		}

		div.logo,
		div.logo:hover,
		div.logo:visited {
			left: 5px;
			margin-top: 0px;
			width: 135px;
			height: 141px;
		}
	}

	#content {
		header {
			padding-top: 10px;
			position: relative;
		}

		div.page-content {
			padding-top: 0px;
			width: auto;

			h3, p {
				padding: 0px 10px;
			}
		}
	}

	#home {
		position: relative;

		#celebrating {
			padding-top: 150px;

			h1 {
				font-size: 7.0em;
			}
			
			h2 {
				font-size: 3.3em;
				@include text-shadow(0px 6px 0px rgba(0, 0, 0, 1));
			}
		}
	}

	div.bus-tours {
		img {
			max-width: 100%;
		}
	}

	div.events {
		#events {
			section {
				div.event-detail {
					width: 95%;

					.links {
						max-width: 100%;
					}
					
				}
			}
		}
	}

	div.sponsors {
		div.page-content {

			.column {
				width: 100%;
				display: block;

				&.left,
				&.right {
					text-align: center;
				}

				img {
					max-width: 90%;
					max-height: 200px;
				}
			}
		}
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
	#home {
	 	#view-events {
	 		background: transparent url('./images/view-events@2x.png') no-repeat;
	 		background-size: cover;
	 	}
	 }

	 div.events {
		#events {
			section {
				header {
					a.events-back {
						background: transparent url('./images/back-arrow@2x.png') center left no-repeat;
						background-size: 15%;
					}
				}
			}
		}
	}
}