@import "compass/css3";
@import url("http://fonts.googleapis.com/css?family=Karla:400,700,700italic");



//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------
body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
}

//-----------------------------------
// Add your own custom styles below
//-----------------------------------

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 14pt;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
	color: #ffffff;
}
a:focus {/* remember to define focus styles! */
	outline: none !important;
}
:focus {/* remember to define focus styles! */
	outline: none;
}

::selection {
	background: #f0e7c9;
	color: #3d3d3d;
}
::-moz-selection {
	background: #f0e7c9;
	color: #3d3d3d;
}

* {
	margin: 0;
	padding: 0;
	outline: none;
}

body, html {
	width: 100%;
	height: 100%;
	line-height: 1;
	background: #bfc13f;
}

a img {
	border: 0;
}

ol, ul {
	list-style: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* =Global
----------------------------------------------- */

body, input, textarea {
	color: #f0e7c9;
	font: 15pt 'Open Sans', Helvetica, Arial, sans-serif;
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
	clear: both;
}
h1 {
	margin: 0;
	font-size: 4.0em;
}
h2 {
	margin: 0;
	font-size: 3.0em;
}
h3 {
	margin: 50px 0px 20px;
	font-size: 1.7em;
}

/* Text elements */
p {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    line-height: 1.4em;
	margin-bottom: 1.7em;
}
ul {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8em;
	line-height: 1.4em;
	list-style-type: none;
}

/* Links */
a,
a:focus,
a:active,
a:hover,
a:visited {
	color: #ffffff;
	text-decoration: none;
}

.clear {
	clear: both;
	content: ".";
	color: transparent;
}

.clearfix {
	clear: both;
}

.clearfix:after {
	clear: both;
	width: 0;
	height: 0;
	content: " ";
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
}

#content {
	position: relative;
	width: 100%;
	min-height: 100%;
	z-index: 1;
	background-color: $content-background;

	header {
        background-color: $content-background;
		position: absolute;
		padding-top: 13px;
		width: 100%;
		font-family: 'Alfa Slab One' !important;
		font-size: 3.5em;
        letter-spacing: 0.1em;
		line-height: 1.85em;
		color: #394e25;
		text-align: center;
		z-index: 3;
	}

	div.page-content {
		position: relative;
		margin: 0 auto;
		padding: 110px 0 20px;
		width: 815px;
		height: auto;
		text-align: left;
	}
	div.page-content h1,h2,h3,h4,h5,h6 {
        font-weight: 800;
	}
}

#main,
#page,
#wrapper {
	position: relative;
	height: 100%;
	width: 100%;
}

/* =Header
----------------------------------------------- */

#branding {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 77px;
	background: #394e25;
	z-index: 10;

	nav {
		position: relative;
		margin: 0px auto;
		width: 1024px;
		height: 50px;
		display: block;
		text-align: center;

		a,
		a:hover,
		a:visited {
			margin-top: 42px;
			padding: 0px 8px;
			display: inline-block;
			font-family: 'Open Sans';
			font-size: 1.0em;
            font-weight: 800;
			color: #ffffff;
			letter-spacing: 0.067em;
			text-transform: uppercase;
		}
		a:hover,
		a.selected {
			color: #bfc13f;
		}
	}

	div#all-events {
		position: absolute;
		right: 0px;
		top: 40px;
		padding-left: 20px;
		width: 210px;
		height: 50px;
		background: #ffffff;
		text-align: left;
		overflow: hidden;
		@include transition-property(height);
  		@include transition-duration(0.25s);

		&.open {
			height: 285px;

			a.title {
				color: #394e25;
			}
			a:hover,
			a.title:hover {
				color: #bfc13f;
			}

			span {
				@include rotate(180deg);
			}
		}

		a {
            color: #394e25;
			margin: 0;
			padding: 0;
//			font-family: 'Karla', sans-serif;
			font-size: 0.75em;
			font-style: bold;
		}
		a.title {
            height: 32px;
			margin-top: 14px;
			width: 81%;
			font-family: 'Alfa Slab One';
			font-size: 1.0em;
		}
		a.title:hover {
			color: #bfc13f;
		}

		span {
			position: absolute;
			top: 11px;
			right: 11px;
			display: block;
			width: 30px;
			height: 30px;
//			background-image: url('./images/menu-icon-light.png');
			background-image: url('./images/menu-icon-light.svg');
			background-size: 100% 100%;

			@include transition-property(transform);
  			@include transition-duration(0.5s);
		}
	}

	div.logo {
		position: absolute;
		left: 0px;
		top: 10px;
		width: 185px;
		height: 185px;

		a {
			margin: 0;
			padding: 0;
			width: 100%;
			height: 100%;
			display: block;
			background-image: url('./images/logo.png');
			background-size: 100% 100%;
		}
	}
}

/* =Home
----------------------------------------------- */
#home {
	position: fixed;
	width: 100%;
	height: 100%;
	background-size: cover;
	-webkit-background-size: cover;
	z-index: 0;
	display: none;
	text-align: center;

	#celebrating {
		margin: 0px auto;
		width: 100%;
		padding-top: 230px;
		text-align: center;

		h1,
		h2 {
			font-family: 'Alfa Slab One';
            letter-spacing: 0.1em;
		}
		
		h1 {
			font-size: 4.0em;
			@include text-shadow(0px 3px 0px rgba(0, 0, 0, 1));
		}
		
		h2 {
			font-size: 3.3em;
			@include text-shadow(0px 2px 0px rgba(0, 0, 0, 1));
			line-height: 0.8em;
		}
	}

	#contact_links {
		padding: 30px 0 0;
		width: 100%;
		text-align: center;

		a {
			display: inline-block;
			margin: 0px 7px;
			padding: 17px 20px 17px;
			width: 100px;
			background-color: #ffffff;
			vertical-align: middle;
		}
		
		a.contact {
			padding: 0;
			width: 173px;
			height: 51px;
			background: transparent url('./images/contact.png') no-repeat;
			color: transparent;
		}
		
		a.facebook,
		a.twitter {
			padding: 0;
			width: 51px;
			height: 51px;
			color: transparent;
		}
		
		a.facebook {
			background: #ffffff url('./images/facebook.png') no-repeat;
			background-image: url('./images/facebook.svg');
			background-size: 100% 100%;
		}
		
		a.twitter {
			background: #ffffff url('./images/twitter.png') no-repeat;
			background-image: url('./images/twitter.svg');
			background-size: 100% 100%;
		}
	}

	#countdown {
		margin-top: 30px;
		width: 100%;
//		font-family: 'heroic_condensedmedium', sans-serif;
        @include text-shadow(0px 2px 0px rgba(0, 0, 0, 1));
		filter: dropshadow(color=#000000, offx=0, offy=4);
		text-align: center;
		
		.countdown_section {
			padding: 0 5px 0 0;
			font-size: 1.4em;
            font-weight: 400;
			display: inline-block;
		}

		.countdown_section:first-child {
			.countdown_amount {
				width: 33px;
			}
		}
	}

	#view-events {
		margin: 35px auto 0;
		width: 102px;
		height: 102px;
		background: transparent url('./images/view-events.png') no-repeat;
		display: block;
		text-align: center;
	}
}

/* =About
----------------------------------------------- */
div.about {
	height: auto;
	min-height: 100%;

	a {
		font-size: 1.2em;
		// color:#8cbfa6;
	}
	
	em {
		font-size: 1.0em;
		color:#8cbfa6;
		font-style: italic
	}

	ul {
		list-style-type: disc;
		li {
			margin-left: 14px;
			font-size: 1.0em;
		}
	}

	div.column {
		width: 33%;
		display: inline-block;
		vertical-align: top;

		h3 {
			margin-top: 10px;
		}
	}

	div.column.last {
		width: auto;
		h3,
		p {
			padding-left: 20px;
		}
	}
}

/* =Bars
----------------------------------------------- */
div.bars,
div.breweries {
	height: auto !important;
	min-height: 100%;

	div.descriptions {
		float: left;
		width: 655px;

		a,
		a:hover,
		a:visited {
			font-family: 'Karla', sans-serif;
			font-style: italic;
			font-size: 0.9em;
			color: #ffffff;
		}
		div.links {
			color: #ffffff;
		}
		h3 {
			margin-bottom: 0px;
			font-family: 'heroic_condensedmedium';
			letter-spacing: 0.05em;
		}
		p {
			margin: 1.0em 0;
		}
	}

	div.list {
		position: absolute;
		top: 300px;
		padding-left: 40px;
		width: 207px;
		display: none;

		a,
		a:hover,
		a:visited {
			display: block;
			font-family: 'Karla', sans-serif;
			font-weight: bold;
			font-size: 0.8em;
			color: #979283;
		}
		
		span {
			padding-bottom: 10px;
			display: inline-block;
			font-family: 'freestyle_script_stdregular';
			font-size: 2.1em;
		}
	}
}

div.bar-info {
	height: auto;

	// #events {
	// 	header {
	// 		display: none;
	// 	}
	// }
}

/* =Bus Tours
----------------------------------------------- */
div.bus-tours {
	.page-content {
		a,
		a:hover,
		a:visited {
			font-size: 1.0em;
		}

		ul {
			padding-left: 15px;
			list-style-type: disc;

			li {
				a,
				a:hover,
				a:visited {
					font-size: 0.8em;
				}
			}
		}
	}
}

/* =Events
----------------------------------------------- */
div.events {
	#events {
		position: relative;
		width: 100%;
		min-height: 100%;
		background: #3d3d3d;

		section {
			position: relative;
			padding-top: 180px;
			width: 100%;
			border-bottom: solid 2px #3d3d3d;

			div {
				margin: 0 auto;
				width: 815px;
			}

			header {
				position: absolute;
				top: 0px;
				padding: 0;
				font-size: 3.8em;

				h2,
				h3 {
					font-family: 'freestyle_script_stdregular';
				}

				h2 {
					margin: 0;
					margin-bottom: 30px;
					line-height: 0.4em;
				}

				h3 {
					position: relative;
					margin: 0;
					padding: 10px 0;
					font-size: 1.0em;
					z-index: 1;
				}
			}

			.event-detail {
				h3 {
					margin-top: 70px;
					margin-bottom: 0;
					color: #979283;
				}

				p {
					padding-bottom: 20px;
					font-size: 1.0em;
					line-height: 1.5em;

					a,
					a:hover,
					a:visited {
						margin-top: 5px;
						font-family: 'karlabold';
						color: #f0e7c9;
						display: inline-block;
						text-decoration: underline;
					}
				}

				.links {
					margin-bottom: 10px;

					a,
					a:hover,
					a:visited {
						font-family: 'freestyle_script_stdregular';
						color: #dba137;
						font-size: 2.0em;
					}
				}
			}
		}

		ul {
			margin: 0 auto;
			padding-top: 240px;
			width: 815px;
			height: 100%;
			text-align: left;

			li {
				min-height: 100%;

				h2 {
					margin-top: 50px;
					width: 100%;
//					font-family: 'freestyle_script_stdregular';
					font-size: 13.0em;
					line-height: 0.7em;
					text-align: center;
				}
				h3 {
					margin-top: 0;
					padding-top: 30px;
					letter-spacing: 0.0675em;
				}
			}
		}

		#events-header {
			position: absolute;
			top: 0px;
			padding-top: 0;
			width: 100%;
			height: 190px;
			background: transparent;
			text-align: center;

			span {
				width: 100%;
				background: #ffffff;
			}

			h2,
			h3 {
//				font-family: 'freestyle_script_stdregular';
			}
			h2 {
				font-size: 1.2em;
				line-height: 0.4em;
			}
			h3 {
				margin: 0;
				padding: 0;
				font-size: 0.4em;
				letter-spacing: 0.0em;
				color: #3d3d3d;
				line-height: 1.0em;
			}
		}

		#show-all {
			position: fixed;
			top: 240px;
			left: 0px;
			width: 100%;
			background: #f0e7c9;
			text-align: center;
			display: none;
			z-index: 2;

			a,
			a:hover,
			a:visited {
				margin: 8px 0;
				color: #3d3d3d;
				display: inline-block;
			}
		}
	}
}

/* =FAQ
----------------------------------------------- */
div.faq {
	a,
	a:hover,
	a:visited {
		text-decoration: underline;
		font-size: 1.0em;
	}

	p {
		font-size: 1.1em;
	}
}

/* =Sponsors
----------------------------------------------- */
div.sponsors {
	div.page-content {
		a,
		a:hover,
		a:visited {
			border: none;
			font-size: 1.0em;
			text-decoration: underline;
		}

		.column {
			margin-top: 50px;
			width: 49%;
			display: inline-block;
			text-align: center;

			&.full {
				width: 100%;
			}

			&.left {
				text-align: left;
			}

			&.right {
				text-align: right;
			}
		}
	}
}

/* =404
----------------------------------------------- */
#not-found {
	min-height: 100%;
	background: #dba137;

	header {
		padding-top: 83px;
		width: 100%;
		height: auto;
		background: #3d3d3d;
		text-align: center;

		h2 {
			font-size: 4.5em;
			line-height: 1.85em;
			font-family: 'Alfa Slab One' !important;
		}
	}

	p {
		padding-top: 50px;
		margin: 0 auto;
		width: 815px;
		font-size: 2.0em;
	}
}